{% extends 'base.html' %}

{% block title%}
Boards
{%endblock%}




{% block breadcrump %}
<li class="breadcrumb-item active">Boards</li>
{%endblock%}


{% block content %}
<table class="table board-table new-shadow-s p-4 ">
    <thead class="table-dark fs-5">
        <th>Board</th>
        <th>Posts</th>
        <th>Topic</th>
        <th>Last Post</th>
    </thead>
    <tbody>
        {%for board in boards%}
        <tr>
            <td><a href="{% url 'board_topics' board.id %}">{{board.name}}</a>
                <small class="d-block text-muted">{{board.description}}</small>
            </td>
            <td>{{board.name}}</td>
            <td>{{board.name}}</td>
            <td>{{board.name}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{%endblock%}