{% extends 'base.html' %}
{% block title%}
Signup
{%endblock%}





{% block body %}
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="w-50 p-5 new-shadow-s  ">
        <h1 class="text-center">Login</h1>

        <form method="post" novalidate>

            {%csrf_token%}
            <input type="hidden" name="next" value="{{next}}">
            {% include 'includes/form.html' %}

            <button type="submit" class="btn btn-dark w-100 mt-3">Login</button>

        </form>
        <div class="card-footer text-muted text-center mt-3">
            Create new account <a class="text-dark" href="{% url 'signup'%}">Sign up</a>
        </div>
    </div>
    
    
</div>

{%endblock%}