{% extends 'base.html' %}

{% block title%}
{{board.name}}
{%endblock%}

{% block breadcrump%}
<li class="breadcrumb-item"><a href="{% url 'home' %}"> Boards</a></li>
<li class="breadcrumb-item active">{{board.name}}</li>
{%endblock%}

{% block content%}

<div class="table new-shadow-s p-4">
    <table class="table">

        <thead class="table-dark fs-5">
            <th>Topics</th>
            <th>Created By</th>
            <th>Posts</th>
            <th>Views</th>
            <th>Created date</th>
        </thead>
        <tbody>
            {% for topic in board.topics.all %}
            
            <tr>
                <td><a href="{%url 'topic_posts' board.pk topic.pk %}">{{topic.subject}}</a></td>
                <td>{{topic.created_by}}</td>
                <td>0</td>
                <td>0</td>
                <td>{{topic.created_dt}}</td>
            </tr>
    
            {%endfor%}
        </tbody>
    
    
    
    
    </table>
</div>

<a class="btn btn-primary new-shadow" href="{% url 'new_topic' board.id %}">New Topic</a>
{%endblock%}